<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D76FDC41F5AAEC10045775D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D76FDDD1F5AAEC20045775D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D76FDE81F5AAEC20045775D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
